<template>
    <div>
        <filter-bar @filter="onFilterSet" />
        <table class="w-full mt-5">
            <thead>
                <tr>
                    <th class="text-center p-2 text-gray-800 bg-gray-200">
                        NOMBRE
                    </th>
                    <th class="text-center p-2 text-gray-800 bg-gray-200">
                        SKU
                    </th>
                    <th class="text-center p-2 text-gray-800 bg-gray-200">
                        PRECIO
                    </th>
                    <th class="text-center p-2 text-gray-800 bg-gray-200">
                        ACCIONES
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="{ id,name,sku,price } in items.data" :key="id">
                    <td class="text-center p-2 border-b">
                        {{ name }}
                    </td>
                    <td class="text-center p-2 border-b">
                        {{ sku }}
                    </td>
                    <td class="text-center p-2 border-b">
                        {{ formatoMoneda(price) }}
                    </td>
                    <td class="text-center p-2 border-b text-black">
                        <button
                            type="button"
                            class="btn-primary sm"
                            @click="$emit('select-item', {id,name,sku,price})"
                        >
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-center mt-3">
            <paginator
                :rows="items.per_page"
                :totalRecords="items.total"
                :rowsPerPageOptions="[10,30,50]"
                @page="changePage($event)"
            />
        </div>
    </div>
</template>

<script>
import pagination from '../../mixins/pagination'
import formatos from '../../mixins/formatos'

export default {
    mixins: [formatos,pagination],
    async mounted() {
        await this.list()
    },
    data(){
        return {
            loading: false,
            items: {}
        }
    },
    methods:{
        async list(){
            this.loading = true

            try {
                let { data }  = await axios.get('/items/paginate', { params: { ...this.params } })
                let { items } = data

                this.items = items
            } catch (error) {
                this.items = []
            } finally {
                this.loading = false
            }
        }
    }
}
</script>
