@import 'primevue/resources/themes/saga-blue/theme.css';
@import 'primevue/resources/primevue.min.css';
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-blue-400
    }

    label {
        @apply font-medium
    }

    button, .link-button {
        @apply rounded-md px-4 py-2 font-medium
    }

    .sm {
        @apply rounded-md px-2 py-1 font-medium
    }

    .group-input {
        @apply mb-3
    }

    .input {
        @apply w-full h-10 px-3 py-5 rounded border-2 border-gray-200 focus:outline-none focus:ring-2 focus:border-indigo-400
    }

    .input-sm {
        @apply h-7 px-2 py-3 rounded border-2 border-gray-200 focus:outline-none focus:ring-2 focus:border-indigo-400
    }

    .btn-success {
        @apply bg-green-600 text-white hover:bg-green-500
    }

    .btn-primary {
        @apply bg-blue-600 text-white hover:bg-blue-500
    }

    .btn-danger {
        @apply bg-red-600 text-white
    }

    .btn-warning {
        @apply bg-yellow-400 hover:bg-yellow-300
    }

    .btn-gray {
        @apply bg-gray-400 hover:bg-gray-300
    }
}

body {
    background-color: #E5E7E9;
}
