<template>
    <div>
        <alert
            v-if="alerta.ver"
            :tipo="alerta.tipo"
            :texto="alerta.texto"
            @close="alerta.ver = false"
        />
        <form @submit.prevent="submit()">
            <button
                v-if="!note_id"
                type="button"
                class="btn-primary"
                @click="showModalCustomers = true"
            >
                Buscar cliente
            </button>
            <div class="grid grid-cols-12 gap-4 mt-4">
                <div class="col-span-4">
                    <ul class="text-sm font-medium bg-white rounded border border-gray-300 ">
                        <li class="py-3 px-4 rounded-t-lg border-b border-gray-300 text-base flex justify-between">
                            Cliente
                            <span class="font-semibold">{{ nameCustomer }}</span>
                        </li>
                        <li class="py-3 px-4 rounded-t-lg border-b border-gray-300 text-base flex justify-between">
                            Total
                            <span class="font-semibold">
                                {{ formatoMoneda(note.total) }}
                            </span>
                        </li>
                    </ul>
                    <errors-form
                        v-if="errors.customer_id"
                        :errors="errors.customer_id"
                    />
                </div>
                <div class="col-span-8">
                    <note-items
                        :note="note"
                        @calculate-total="calculateTotal()"
                        @delete-item="deleteItem"
                        @open-modal-items="showModalItems = true"
                    />
                    <errors-form
                        v-if="errors.items"
                        :errors="errors.items"
                    />
                </div>
            </div>
            <button
                type="submit"
                class="btn-success mt-5"
                :disabled="loading"
            >
                Guardar
            </button>
        </form>
        <modal
            v-if="showModalCustomers"
            size="lg"
            title="Clientes"
            @close="showModalCustomers = false"
        >
            <table-customers @select-customer="selectCustomer" />
        </modal>
        <modal
            v-if="showModalItems"
            size="lg"
            title="Items"
            @close="showModalItems = false"
        >
            <table-items @select-item="selectItem" />
        </modal>
    </div>
</template>

<script>
import formatos from '../../mixins/formatos'
import TableCustomers from '../customers/Table.vue'
import TableItems from '../items/Table.vue'
import NoteItems from '../../components/notes/NoteItems.vue'
import axios from 'axios'

export default {
    mixins:[formatos],
    props:{
        note_id: {
            type: Number,
            require: false
        }
    },
    components:{
        TableCustomers,
        TableItems,
        NoteItems
    },
    async mounted(){
        if (this.note_id) {
            await this.findNote()
        }
    },
    data(){
        return {
            alerta: {
                cerrar: true,
                tipo: null,
                texto: null,
            },
            errors: {},
            loading: false,
            note:{
                id: null,
                customer_id: null,
                customer: null,
                date: null,
                total: 0,
                items: []
            },
            showModalCustomers: false,
            showModalItems: false,
            total: 0
        }
    },
    computed:{
        nameCustomer(){
            return (this.note.customer)
            ? this.note.customer.name
            : '-------'
        }
    },
    methods:{
        calculateTotal(){
            this.note.total = this.note.items.map(item => item.total).reduce((item1,item2) => item1 + item2)
        },
        cleanNote(){
            this.note = {
                id: null,
                customer_id: null,
                customer: null,
                date: null,
                total: 0,
                items: []
            }
        },
        deleteItem(indexItem,total){
            this.note.total -= total
            this.note.items.splice(indexItem,1)
        },
        async findNote(){
            try {
                let { data } = await axios.get(`/notes/${this.note_id}`)
                let { note } = data

                note.items.forEach(item => {
                    item.quantity = item.pivot.quantity
                    item.total    = item.pivot.total
                })
                this.note = note
            } catch (error) {
                this.note = {}
            }
        },
        selectCustomer(customer){
            this.note.customer_id   = customer.id
            this.note.customer      = customer
            this.showModalCustomers = false
        },
        selectItem(item){
            if (this.verifyItem(item)) {
                this.showModalItems = false
                return
            }

            let noteItem = Object.assign({},{...item, quantity: 1,total:0})

            this.note.items.push(noteItem)
            this.showModalItems = false
        },
        async submit(){
            this.loading = true
            this.errors  = {}

            try {
                let { data } = (this.note.id)
                ? await axios.put(`/notes/${this.note.id}`, this.note)
                : await axios.post('/notes', this.note)

                let { message } = data

                this.alerta = {
                    texto: message,
                    tipo: 'success',
                    ver: true
                }
                if (!this.note.id) {
                    this.cleanNote()
                }
            } catch (error) {
                let { errors } = error.response.data;

                this.errors = errors
            } finally {
                this.loading = false
            }
        },
        verifyItem(itemVerify){
            let itemNote = this.note.items.find(item => item.id === itemVerify.id)
            return itemNote
        }
    }
}
</script>
