<template>
    <div>
        <filter-bar @filter="onFilterSet" />
        <table class="w-full mt-5">
            <thead>
                <tr>
                    <th class="text-center p-2 text-gray-800 bg-gray-200">
                        CLIENTE
                    </th>
                    <th class="text-center p-2 text-gray-800 bg-gray-200">
                        FECHA
                    </th>
                    <th class="text-center p-2 text-gray-800 bg-gray-200">
                        TOTAL
                    </th>
                    <th class="text-center p-2 text-gray-800 bg-gray-200">
                        ACCIONES
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="note in notes.data" :key="note.id">
                    <td class="text-center p-2 border-b">
                        {{ note.customer.name }}
                    </td>
                    <td class="text-center p-2 border-b">
                        {{ note.date }}
                    </td>
                    <td class="text-center p-2 border-b">
                        {{ formatoMoneda(note.total) }}
                    </td>
                    <td class="text-center p-2 border-b text-black">
                        <a
                            :href="`/notes/${note.id}/edit`"
                            class="btn-warning link-button sm text-gray-900"
                        >
                           <i class="fa-solid fa-pencil"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="flex justify-center mt-3">
            <paginator
                :rows="notes.per_page"
                :totalRecords="notes.total"
                :rowsPerPageOptions="[10,30,50]"
                @page="changePage($event)"
            />
        </div>
    </div>
</template>

<script>
import formatos from '../../mixins/formatos'
import pagination from '../../mixins/pagination'

export default {
    mixins: [formatos,pagination],
    async mounted() {
        await this.list()
    },
    data(){
        return {
            loading: false,
            notes: []
        }
    },
    methods:{
        async list(){
            this.loading = true

            try {
                let { data }  = await axios.get('/notes/paginate', { params: { ...this.params } })
                let { notes } = data

                this.notes = notes
            } catch (error) {
                this.notes = []
            } finally {
                this.loading = false
            }
        }
    }
}
</script>
