<template>
    <div class="bg-white rounded  border border-gray-300">
        <div class="px-4 py-2 bg-gray-300 border-gray-300 flex justify-between items-center">
            <h1 class="text-base font-medium">Items</h1>
            <button
                v-if="note.customer_id"
                type="button"
                class="btn-primary sm"
                @click="$emit('open-modal-items')"
            >
                Agregar
            </button>
        </div>
        <div v-if="note.items.length">
            <table class="w-full">
                <thead class="text-gray-800 bg-gray-100">
                    <tr>
                        <th class="text-center p-2">
                            NOMBRE
                        </th>
                        <th class="text-center p-2">
                            SKU
                        </th>
                        <th class="text-center p-2">
                            PRECIO
                        </th>
                        <th class="text-center p-2">
                            CANTIDAD
                        </th>
                        <th class="text-center p-2">
                            TOTAL
                        </th>
                        <th class="text-center p-2">
                            ACCIONES
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in note.items" :key="item.id">
                        <td class="text-center p-2 border-b">
                            {{ item.name }}
                        </td>
                        <td class="text-center p-2 border-b">
                            {{ item.sku }}
                        </td>
                        <td class="text-center p-2 border-b">
                            {{ formatoMoneda(item.price) }}
                        </td>
                        <td class="text-center p-2 border-b">
                            <vue-numeric
                                class="input-sm text-center"
                                @input="calculateTotalItem(item)"
                                v-model="item.quantity"
                                :min="1"
                                :minus="false"
                            />
                        </td>
                        <td class="text-center p-2 border-b font-bold">
                            {{ formatoMoneda(item.total) }}
                        </td>
                        <td class="text-center p-2 border-b text-black">
                            <button
                                type="button"
                                class="btn-danger sm"
                                @click="$emit('delete-item',index,item.total)"
                            >
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-else class="p-3">
            <alert
                :cerrar="false"
                tipo="warning"
                texto="No hay items agregados"
            />
        </div>
    </div>
</template>

<script>
import formatos from '../../mixins/formatos'

export default {
    mixins:[formatos],
    props:{
        note:{
            type: Object,
            require: true
        }
    },
    methods:{
        calculateTotalItem(item){
            if (item.quantity > 0) {
                item.total = item.quantity * item.price
            } else {
                item.total = 0
            }

            this.$emit('calculate-total')
        }
    }
}
</script>
