<template>
    <div :class="`${clasesBase} ${colorAlerta} ${colorTexto}`">
        <div class="flex items-center">
            <i :class="`${iconoAlerta} ${colorTexto} mr-3`"></i>
            {{ texto }}
        </div>
        <div
            v-if="cerrar"
            class="flex items-center cursor-pointer"
            @click="$emit('close')"
        >
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        cerrar: {
            type: Boolean,
            default: true
        },
        texto: {
            type: String,
            require: true,
            default: ''
        },
        tipo: {
            type: String,
            require: true
        }
    },
    computed: {
        clasesBase(){
            return 'px-5 py-3 mb-3 rounded-md text-lg flex items-center justify-between'
        },
        colorAlerta(){
            let tipos = {
                error : 'bg-red-200',
                info: 'bg-blue-200',
                success: 'bg-green-200',
                warning: 'bg-yellow-200'
            }

            return tipos[this.tipo]
        },
        colorTexto(){
            let coloresTexto = {
                error : 'text-red-600',
                info: 'text-blue-600',
                success: 'text-green-600',
                warning: 'text-yellow-600'
            }

            return coloresTexto[this.tipo]
        },
        iconoAlerta(){
            let iconos = {
                error : 'fa-solid fa-circle-exclamation',
                info: 'fa-solid fa-circle-info',
                success: 'fa-solid fa-circle-check',
                warning: 'fa-solid fa-triangle-exclamation'
            };


            return iconos[this.tipo]
        }
    }
}
</script>
