<template>
    <div class="text-red-500">
        <div
            v-for="error in errors"
            :key="error"
        >
            <small>{{ error }}</small>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            'errors':{
                type: Array,
                required: true
            }
        }
    }
</script>

<style scoped>
    small {
        font-weight: 500;
    }
</style>
