<template>
    <div class="flex align-center">
        <input
            type="text"
            class="input w-96 mr-1"
            v-model="filterText"
            placeholder="ingrese texto para buscar"
            @keyup.enter="filter()"
        >
        <button
            type="button"
            class="btn-primary mr-1"
            @click="filter()"
        >
            Buscar
        </button>
        <button
            type="button"
            class="btn-gray"
            @click="resetFilter()"
        >
            Borrar
        </button>
    </div>
</template>

<script>
export default {
    data () {
        return {
            filterText: ''
        }
    },
    methods: {
        filter () {
            this.$emit('filter', this.filterText);
        },
        resetFilter () {
            this.filterText = '';
            this.$emit('filter', this.filterText);
        }
    }
}
</script>
