<template>
<!-- This example requires Tailwind CSS v2.0+ -->
    <transition
        enter-active-class="ease-out duration-300"
        enter-class="opacity-0"
        enter-to-class="opacity-100"
        leave-active-class="ease-in duration-200"
        leave-class="opacity-100"
        leave-to-class="opacity-0"
    >
        <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="fixed inset-0 bg-gray-600 bg-opacity-75 transition-opacity"></div>
            <div class="fixed z-10 inset-0 overflow-y-auto">
                <div class="flex items-center justify-center min-h-full">
                    <transition
                        enter-active-class="ease-out duration-300"
                        enter-class="opacity-0 translate-y-4"
                        enter-to-class="opacity-100 translate-y-0"
                        leave-active-class="ease-in duration-200"
                        leave-class="opacity-100 translate-y-0 "
                        leave-to-class="opacity-0 translate-y-4"
                    >
                        <div :class="`relative rounded overflow-hidden shadow-xl transform transition-all ${sizeModal}`">
                            <div class="bg-white">
                                <div class="flex justify-between items-center p-3 border-b-2 border-gray-200">
                                    <h1 class="text-2xl font-medium">{{ title }}</h1>
                                    <i
                                        class="fa-solid fa-xmark fa-2xl cursor-pointer"
                                        @click="$emit('close')"
                                    >
                                    </i>
                                </div>
                                <div class="p-3">
                                    <slot></slot>
                                </div>
                            </div>
                        </div>
                    </transition>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    props: {
        size: {
            type: String,
            default: 'md'
        },
        title: {
            type: String,
            require: true
        }
    },
    computed:{
        sizeModal(){
            let sizes = {
                sm: 'w-3/12',
                md: 'w-6/12',
                lg: 'w-9/12'
            }

            return sizes[this.size]
        }
    }
}
</script>
